@model TaskManager.Models.Tarea

@{
    ViewData["Title"] = "Create";
}

<h1 class="mt-4">Añadir nueva tarea al Tablero</h1>

<h4>Tarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 form-group">
                <label asp-for="IdLista" class="control-label"><b>Lista</b></label>
                <select asp-for="IdLista" class ="form-control" asp-items="ViewBag.IdLista"></select>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="NombreTarea" class="control-label"><b>Nombre de la tarea</b></label>
                <input asp-for="NombreTarea" class="form-control" />
                <span asp-validation-for="NombreTarea" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="DescTarea" class="control-label"><b>Descripción corta</b></label>
                <input asp-for="DescTarea" class="form-control" />
                <span asp-validation-for="DescTarea" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Dificultad" class="control-label"><b>Dificultad de la tarea (del 1 al 10)</b></label>
                <input asp-for="Dificultad" class="form-control" />
                <span asp-validation-for="Dificultad" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="IdResponsable" class="control-label"><b>Nombre del responsable de la Tarea</b></label>
                <select asp-for="IdResponsable" class ="form-control" asp-items="ViewBag.IdResponsable"></select>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Tiempo" class="control-label"><b>Tiempo aproximado (en horas)</b></label>
                <input asp-for="Tiempo" class="form-control" />
                <span asp-validation-for="Tiempo" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input type="submit" value="Crear Tarea" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="text-decoration: none;" class="bi bi-arrow-return-left" asp-controller="Home" asp-action="Index"><b> Volver al tablero</b></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
