@model TaskManager.Models.Listum

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mt-4">Eliminar Lista</h1>

<h3>¿Estás seguro de querer eliminar la lista seleccionada?</h3>
<i>Al eliminar la lista eliminarás todas las tareas que esta contenía y no podrás recuperarlas.</i>
<div>
    <h4>Lista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de la lista
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreLista)
        </dd>
        <dt class = "col-sm-2">
            Tipo de lista
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLista" />
        <input type="submit" value="Eliminar lista" class="btn btn-danger" /> |
        <a style="text-decoration: none;" class="bi bi-arrow-return-left" asp-controller="Home" asp-action="Index"><b> Volver al tablero</b></a>
    </form>
</div>
